.container{
    float: left;
    padding: 20px 20px
}
.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 150px;
    margin: auto;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
}

.title {
    color: grey;
    font-size: 18px;
}
.data{
    padding: 5px 
}
.reminder {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}
