* {
    box-sizing: border-box
}
.book {
    float: left;
    border: 3px solid #f1f1f1;
    width: 25%;
    height: auto;
    padding: 8px  
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.Button {
    width: auto;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 5px 18px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
}
button:hover {
    opacity: 0.8;
}
.view{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 5px 5px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    float: right
}
#list{
   
    color: #f1f1f1 
}

.viewList {
    margin: 4px; 
    /*display: none; to make a collapse*/
    background-color: white;
    overflow: hidden;
}
#title{
    width: 80%;
    padding: 12px 20px;
    margin: 0px 20px;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    font-size: 25px;
    background-color: #777;
    color: white
}
.book .viewList #story p, .book .viewList #story2 p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#see, #see2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#see3, #see4{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.book .viewList #story3 p, .book .viewList #story4 p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#dateTime, #story{
    font-size: 15px
}
#story2, #story3{
    font-size: 15px 
}
#story4{
    font-size: 15px
}
#groupBtn{
    float: right
}

label, #time{
    font-size: 15px; 
    border: 0;
    
}
#time2, #time3{
    font-size: 15px; 
    border: 0;
}
#time4{
    font-size: 15px; 
    border: 0;
}
@media screen and (max-width: 1200px) {
    .book {
        width: 50%;
        height: auto;
        padding: 5px;
        
    }
    #see, #see2{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    #see3, #see4{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    
}
@media screen and (max-width: 1000px) {
    .book {
        width: 100%;
        height: auto;
        padding: 5px;
        
    }
    #see, #see2{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    #see3, #see4{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    
}


/* modal styling start  */

.head {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: auto; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 10px;
    
}

.content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
    height: auto;
}
.modal form .container {
    padding: 15px;
}
.cool{
    width: auto;
    display: block
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.modal form .container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.modal form .container textarea#addText, .modal form .container textarea#editStory  {
    width: 100%; 
    height: 270px
}
.modal form .container textarea#editTitle, .modal form .container textarea#editTime{
    width: 50%; 
    height: auto
}
.modal form .container .button{
    width: auto;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 5px 18px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
    float: right;
}
.modal form .container button:hover {
    opacity: 0.8;
}


@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .modal form .container .button {
       width: 100%;
    }
}

